@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

.containerCard{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
    flex-wrap:wrap;
}
.containerCard .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px rgba(0,0,0,0.2);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.containerCard .card .contentbox{
    position: absolute;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    bottom: -400px;
    box-shadow: 0 -10px 10px rgb(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    transition: bottom 0.5s;
    transition-delay: 0.1s;
}
.containerCard .card:hover .contentbox{
    bottom: 0;
}
.containerCard .card .contentbox .contentDP h3{
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    transform:translateY(-20px);
    transition-delay: 0.6s;
    opacity: 0;
}
.containerCard .card:hover .contentbox .contentDP h3{
    opacity: 1;
    transform:translateY(0px)
}
.containerCard .card .contentbox .contentDP h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
    text-transform: uppercase;
}
.containerCard .card .contentbox .social{
    display: flex;
    position: relative;
    bottom: 10px;
}
.containerCard .card .contentbox .social li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--q));
}
.containerCard .card:hover .contentbox .social li{
    transform:translateY(0px);
    opacity: 1;
}
.containerCard .card .contentbox .social li a{
    color: black;
    font-size: 24px;
}